<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cricket Fantasy League  - Home </title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
	
	

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/datatables/jquery.dataTables.min.css}" rel="stylesheet">

<style type="text/css">
a:hover,a:visited,a:link,a:active {
	text-decoration: none;
}
</style>


<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Leader Board<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/home/leaderboard">Team Leader Board</a></li>
			<li><a href="/home/playerleaderboard">Player Leader Board</a></li>
			<li><a href="/home/previousleaderboard">Previous Year Boards</a></li>

		</ul></li>

	<li><a href="/home/howtoplay">How to Play</a></li>
	<li><a href="/home/contactus">Contact Us</a></li>
	<li><a href="/home/prizes">Prizes</a></li>
	<li><a href="/home/testimonial">Testimonials</a></li>
	<li><a href="/home/timeline">Timeline</a></li>
	<li><a href="/home/noticeboard">Notice Board</a></li>
	
	
</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide"> <!-- Indicators -->
	<ol class="carousel-indicators">
	<!--	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	 	<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>  -->
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	<!--	<div class="item">
			<div class="fill"
				style="background-image: url('<c:url value="/resources/images/home1.jpg"/>');"></div>
			<div class="carousel-caption">
				<h2>World Cups</h2>
			</div>
		</div> -->
		<div class="item active">
			<div class="fill"
				style="background-image: url('/images/home4.jpg')"</div>
			<div class="carousel-caption">
				<!--<h2>World Cups</h2>-->
			</div>
		</div>
	<!--	<div class="item">
			<div class="fill"
				style="background-image: url('<c:url value="/resources/images/home3.jpg"/>');"></div>
			<div class="carousel-caption">
				<h2>World Cups</h2>
			</div>
		</div> -->
	</div>

	<!-- Controls --> <!-- <a class="left carousel-control" href="#myCarousel"
		data-slide="prev"> <span class="icon-prev"></span> 
	</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a> --> </header>

	<!-- Page Content -->
	<div class="container">

		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-lg-12">
			 	<div class="row">
			 	<br>
	<!--				<marquee direction="left" onmouseover="this.stop();"
						onmouseout="this.start();" scrollamount="4">
						<b style="color: red"><font size="4">Substitution window notification. <a href="/home/announcement">Click Here for
								details </a></font>
						</b>
					</marquee> -->
				</div> 
				<h1 class="page-header">Cricket Fantasy League <script>document.write(new Date().getFullYear())</script></h1>

				<div class="col-md-12">
					<p>It is an online game where you create a virtual team of real
						cricket players and score points depending on how your chosen
						players perform in real life matches. To win the tournament, you
						must work towards attaining the maximum points.</p>
				</div>

			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<i class="fa fa-fw fa-check"></i> Sign Up
						</h4>
					</div>
					<div class="panel-body">
						<p>
							It's easy to sign up and always will be. <br>
						</p>
						<a href="/registration" class="btn btn-default">Sign Up
							Here</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<i class="fa fa-fw fa-user"></i> Choose Your Team
						</h4>
					</div>
					<div class="panel-body">
						<p>Choose your team and be the owner of a team.</p>
						<a href="/login" class="btn btn-default">Login Here</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accountActivation" class="btn btn-default">Resend Activation Link</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<i class="fa fa-fw fa-gift"></i> Win Prizes
						</h4>
					</div>
					<div class="panel-body">
						<p>Earn Points and win prizes.</p>
						<a href="/home/prizes" class="btn btn-default">Prizes
							Details</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- /.row -->

		<!-- Features Section -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Leader Board</h2>
			</div>

				<div th:if= "${exp == null}" class="col-md-6">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>
								<i class="fa fa-fw fa-compass"></i>Top Five Teams
							</h4>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table id="example" class="table table-hover">
									<thead>
										<tr align="center">
											<th><p align="center">Rank</p></th>
											<th><p align="center">Team Name
												<p></th>
											<th><p align="center">Current Score</p></th>

										</tr>
									</thead>
									<tbody>
											<tr data-th-each="searchResult : ${teamLeaderboard}" align="center">
												<td data-th-text="${searchResult.id}"></td>
												<td data-th-text="${searchResult.teamName}"></td>
												<td data-th-text="${searchResult.teamCurrentScore}"></td>
											</tr>
									</tbody>
								</table>
							</div>
							<br>
							<a href="/leaderboard" class="btn btn-default">Overall
								Team Leader Board</a>
							<!-- /.table-responsive -->
						</div>

						<!-- /.panel-body -->
					</div>
				</div>
				<div th:if= "${exp == null}" class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>
								<i class="fa fa-fw fa-compass"></i>Top Five Players
							</h4>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table id="example1" class="table table-hover">
									<thead>
										<tr align="center">
											<th><p align="center">Rank</p></th>
											<th><p align="center">Player Name
												<p></th>
											<th><p align="center">Player Team</p></th>
											<th><p align="center">Current Points</p></th>

										</tr>
									</thead>
									<tbody>
											<tr data-th-each="searchResult : ${playerLeaderboard}" align="center">
												<td data-th-text="${searchResult.id}"></td>
												<td data-th-text="${searchResult.name}"></td>
												<td data-th-text="${searchResult.team}"></td>
												<td data-th-text="${searchResult.currentScore}"></td>
											</tr>
									</tbody>
								</table>
							</div>
							<br>
							<a href="/Playerleaderboard" class="btn btn-default">Overall
								Player Leader Board</a>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>


				</div>


				<div th:if= "${exp != null}" class="col-lg-12">
					<div class="jumbotron">
						<p>Technical Issue : Unable to connect to database.</p>

					</div>
				</div>
		</div>
		<!-- /.row -->

		<!-- Portfolio Section -->
		<!--	<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Previous World Cup's Winner</h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="/WC2007"> <img
					src="<c:url value="/resources/images/india2007.jpg"/>" alt=" "
					width="100%" height="100%">
				</a>

				<h4 align="center">2007 (India)</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="/WC2009"> <img
					src="<c:url value="/resources/images/pak20091.jpg"/>" alt=" "
					width="100%" height="100%">
				</a>
				<h4 align="center">2009 (Pakistan)</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="/WC2010"> <img
					src="<c:url value="/resources/images/eng2010.jpg"/>" alt=" "
					width="100%" height="100%">
				</a>
				<h4 align="center">2010 (England)</h4>
			</div>


		</div> -->



		<!--	<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header"></h2>
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="/WC2012"> <img
					src="<c:url value="/resources/images/wi2012.jpg"/>" alt=" "
					width="100%" height="100%">
				</a>
				<h4 align="center">2012 (West Indies)</h4>
			</div>
			<div class="col-md-4 col-sm-6">
				<a href="/WC2014"> <img
					src="<c:url value="/resources/images/sl.jpg"/>" alt=" "
					width="100%" height="100%">
				</a>

				<h4 align="center">2014 (Srilanka)</h4>

			</div>

			<div class="col-md-4 col-sm-6">
				<img src="<c:url value="/resources/images/t20logo.jpg"/>" alt=" "
					width="100%" height="100%">
			</div>


		</div> -->

		<hr>

		<!-- Call to Action Section -->
		<div class="well">
			<div class="row">
				<div class="col-md-8">
					<p>To check out more info about the match schedule and players
						go to ICC official cricket website.</p>
				</div>
				<div class="col-md-4">


					<a class="btn btn-lg btn-default btn-block"
						href="https://www.cricketworldcup.com" target="_blank">Click
						Here</a>

				</div>
			</div>
		</div>

		<hr>

		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->



	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/datatables/jquery-1.12.0.min.js}"></script>
	<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
		
		
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
		        paging:false,
		        bFilter:false,
		        ordering:false
		    });
		});
	</script>
	<script>
		$(document).ready(function() {
			$('#example1').DataTable({
		        paging:false,
		        bFilter:false,
		        ordering:false
		    });
		});
	</script>

	<!-- Script to Activate the Carousel -->
	<script>
		$('.carousel').carousel({
			interval : 5000
		//changes the speed
		})
	</script>

</body>

</html>