<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
	<title>Cricket Fantasy League - How To Play</title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">


<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Leader Board<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/home/leaderboard">Team Leader Board</a></li>
			<li><a href="/home/playerleaderboard">Player Leader Board</a></li>
		</ul></li>

	<li><a href="/home/howtoplay">How to Play</a></li>
	<li><a href="/home/contactus">Contact Us</a></li>
	<li><a href="/home/prizes">Prizes</a></li>
	<li><a href="/home/testimonial">Testimonials</a></li>
	<li><a href="/home/timeline">Timeline</a></li>
	<li><a href="/home/noticeboard">Notice Board</a></li>
	
	
</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">How to Play</h1>
				<ol class="breadcrumb">
					<li><a href="/home">Home</a></li>
					<li class="active">How To Play</li>
				</ol>
			</div>
		</div>


		<!-- Service Tabs -->
		<div class="row">
			<div class="col-lg-12">
				<ul id="myTab" class="nav nav-tabs nav-justified">
					<li class="active"><a href="#service-one" data-toggle="tab"><i
							class="fa fa-tree"></i> Rules</a></li>
					<li class=""><a href="#service-two" data-toggle="tab"><i
							class="fa fa-database"></i> Points calculation</a></li>

				</ul>

				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="service-one">
						<h3>Rules</h3>
						<ul>
							<li>This contest is only open via referral from the admin team. The referred person can invite their friends and family members.

							<li>Each player has to create the team of 11 players.
							<li>Each team should have a name given by team owner.
							<li>We'll be charging a minimal amount of &#8377; 50 to cover our server,api and domain cost. This amount need to be paid by the team owner during team activation.
							<li>Each player has been assigned a $ value based on individual skill & parameters decided by admin team.
							<li>Each team owner can use max $21 (virtual money) to
								create the team of 11 players.
							<li>While creating the team each team owner should follow either one of the below skill set. Set #1 : 5Bat+5Bwl+1wk Set #2 : 4Bat+4Bwl+2All+1wk. The above set will be deemed final and will not be allowed to change during the course of the CFL 2020 season.
							
							<li><b>Unlimited player substitution will be allowed before the 1st match of CFL 2020 (19th Sep 6 PM IST).</b>
							<li><b>No player substitutions will be allowed during the 1st week of CFL 2020 season. (19th Sep'2020 till 25th Sep'2020).</b>
							<li><b>After 25th Sep each team owner can substitute a maximum of 50 players during the course of the CFL 2020 season. The substitution should be done with same skill & $ value players. .</b>
							<li><b>Players substitution window will be allowed from (26th Sep 2020) between 3 AM IST to 3 PM IST daily. A team owner can substitute any number of players from his/her team. However, the total count of substituted players cannot go beyond 50 players during the course of the CFL 2020 season.</b>
							<li><b>New player points will not roll over to the team.</b>
							<li><b>You will not loose any point for the replaced
									players and new players will start earning from their future
									matches only.</b>
							<li>To win the game, individual team must work towards
								attaining the maximum points.
							<li>Any rule can be changed by system administrator without
								prior notice.
							<li>In case of any dispute system administrator decision
								will be final and abide.
						</ul>
					</div>
					<div class="tab-pane fade" id="service-two">
						<h3>Points calculation</h3>
						<ul>
							<li>1 point per run scored
							<li>1 points per boundary hit (i.e.4 runs)
							<li>2 points per six runs scored
							<li>20 points per wicket
							<li>20 bonus points on each 50 Run
							<li>25 bonus points each 3 wicket
							<li>1 bonus point to each dot ball by bowler
							<li>20 bonus point to each maiden over
						</ul>
					</div>

				</div>

			</div>
		</div>

		<hr>

		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->



	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177842891-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177842891-1');
</script>

</body>

</html>