<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
	<title>Cricket Fantasy League  - Previous Year Leaderboards</title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Leader Board<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/home/leaderboard">Team Leader Board</a></li>
			<li><a href="/home/playerleaderboard">Player Leader Board</a></li>
		</ul></li>

	<li><a href="/home/howtoplay">How to Play</a></li>
	<li><a href="/home/contactus">Contact Us</a></li>
	<li><a href="/home/prizes">Prizes</a></li>
	<!--<li><a href="/home/testimonial">Testimonials</a></li>
	<li><a href="/home/timeline">Timeline</a></li>-->
	<li><a href="/home/noticeboard">Notice Board</a></li>
	
	
</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Previous Leader Boards</h1>
				<ol class="breadcrumb">
					<li><a href="/home">Home</a></li>
					<li class="active">Previous Leader Boards</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">


			<div class="col-md-3">
				<div class="list-group">
					<h4 align="center">Previous Leader boards</h4>
					<p align="center">
						<a href="/home/leaderboard" class="list-group-item">Team
							Leader board</a>
					</p>
					<p align="center">
						<a href="/home/playerleaderboard" class="list-group-item">Player
							Leader board</a>
					</p>

				</div>
			</div>
				<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 align="center">2015 ICC Cricket World Cup Leader board</h4>
					</div>

					<div class="panel-body">


						<img class="img-responsive"
							th:src="@{/images/previousLeaderboard.jpg}"
							alt=" " width="100%" align="middle">
							
							


					</div>

				</div></div>
				
				<div class="col-md-3"></div>
				
				<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 align="center">2019 ICC Cricket World Cup Leader board</h4>
					</div>

					<div class="panel-body">


						<img class="img-responsive"
							th:src="@{/images/2019.png}"
							alt=" " width="100%" align="middle">
							
							


					</div>

				</div></div>



		<!-- /.row -->

		<hr>

		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/datatables/jquery-1.12.0.min.js}"></script>

</body>

</html>
