<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
	<title>Cricket Fantasy League  - Forgot Password</title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">


</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Leader Board<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/home/leaderboard">Team Leader Board</a></li>
			<li><a href="/home/playerleaderboard">Player Leader Board</a></li>
		</ul></li>

	<li><a href="/home/howtoplay">How to Play</a></li>
	<li><a href="/home/contactus">Contact Us</a></li>
	<li><a href="/home/prizes">Prizes</a></li>
	<li><a href="/home/testimonial">Testimonials</a></li>
	<li><a href="/home/timeline">Timeline</a></li>
	<li><a href="/home/noticeboard">Notice Board</a></li>
	
	
</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					CFL Forgot Password
				</h1>
				<ol class="breadcrumb">
					<li><a href="/home">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li class="active">CFL Forgot Password</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">



				<form class="form form-vertical" th:action="@{/home/resetpassword}"
						role="form" data-toggle="validator" name="resetPassordForm"
						method="post" th:object="${user}">

						<div class="row">
													
					 <div th:if="${message}" th:text="${message}"
					class="alert alert-info"></div>
							


							<input type="hidden" th:field="*{email}"/>


							<div class="row">
								<div class="col-sm-6 form-group">
									<label>Security Question</label>
									<input type="text" th:field="*{serQuestion}"
										class="form-control" readonly="readonly" />
									<errors path="securityQuestion" cssClass="error"></errors>
								</div>
								<div class="col-sm-6 form-group">
									<label>Security Answer</label>
									<input type="password" th:field="*{serAnswer}"
										class="form-control" required="true"
										data-error="Please enter your answer" />
									<div class="help-block with-errors"></div>
									<errors path="securityAnswer" cssClass="error"></errors>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-6 form-group">
									<label>New Password</label>
									<input type="password" th:field="*{password}" class="form-control"
										data-minlength="6" required="true"
										data-error="Please enter password minimum of 6 characters" />
									<div class="help-block with-errors"></div>
									<errors path="password" cssClass="error"></errors>
								</div>
								<div class="col-sm-6 form-group">
									<label>Confirm New Password</label>
									<input type="password" th:field="*{confirmPassword}"
										class="form-control" required="true"
										data-error="Please enter your confirm password" />
									<div class="help-block with-errors"></div>
									<errors path="confirmPassword" cssClass="error"></errors>
								</div>
							</div>

							<button type="submit" class="btn btn-lg btn-info">Submit</button>


						</div>

					</form>
				
				<br>
				<p align="right"><a href="/login">Login Here</a></p>
				
			</div>
			<div class="col-md-6">
				<img class="img-responsive"
					th:src="@{/images/login.jpg}" alt=" "
					width="100%" align="middle">
			</div>
		</div>



		<!-- /.row -->

		<hr>
		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/validator.js}"></script>

	<script>
		$('#resetPassordForm').validator();
	</script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177842891-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177842891-1');
</script>
	

</body>

</html>
