<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
	<title>Cricket Fantasy League  - Trouble Signing In</title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">


</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Leader Board<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/home/leaderboard">Team Leader Board</a></li>
			<li><a href="/home/playerleaderboard">Player Leader Board</a></li>
		</ul></li>

	<li><a href="/home/howtoplay">How to Play</a></li>
	<li><a href="/home/contactus">Contact Us</a></li>
	<li><a href="/home/prizes">Prizes</a></li>
	<li><a href="/home/testimonial">Testimonials</a></li>
	<li><a href="/home/timeline">Timeline</a></li>
	<li><a href="/home/noticeboard">Notice Board</a></li>
	
	
</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					CFL Trouble Signing In
				</h1>
				<ol class="breadcrumb">
					<li><a href="/home">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li class="active">CFL Trouble Signing In</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">



				<form class="form form-vertical"
					th:action="@{/home/signingerror}" name="forgetPasswordForm"
					method="post" th:object="${user}">

					<div class="row">
						<br> <br> <br>

						<table align="center">


							<tr>
					<td align="center" colspan='2'>		 <div th:if="${message}" th:text="${message}"
					class="alert alert-info"></div></td>
						</tr>
						
						<tr>
						<td><b>Select Issue : </b></td>
					<td>	<select type="text" th:field="*{signingError}"
							 class="form-control"
								required="true" data-error="Please select your location">
								<option value="0">Resend Activation Link</option>
								<option value="1">Send New Password</option>
							</select>
						</td>
						</tr>
						

							<tr>
								<td><br></br><b>Email : </b></td>
								<td><br><input type="email"  th:field="*{email}"
										placeholder="Enter Email" class="form-control" /></td>
							</tr>
							<tr>
								<td align="center" colspan='2'>

									<div class="control-group">
										<label></label>
										<div class="controls">
											<br>
											<button type="submit" class="btn btn-primary">Next</button>
										</div>
									</div>

								</td>
							</tr>
						</table>

					</div>

				</form>
				
				<br>
				<p align="right"><a href="/login">Login Here</a></p>
				
			</div>
			<div class="col-md-6">
				<img class="img-responsive"
					th:src="@{/images/login.jpg}" alt=" "
					width="100%" align="middle">
			</div>
		</div>



		<!-- /.row -->

		<hr>
		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177842891-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177842891-1');
</script>

</body>

</html>
