<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
	<title>Cricket Fantasy League  -  Old Players</title>
</head>

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/modern-business.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/datatables/jquery.dataTables.min.css}" rel="stylesheet">

<style type="text/css">
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
</style>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/welcome">CFL <script>document.write(new Date().getFullYear())</script></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container --> </nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"> Old Players</h1>
				<ol class="breadcrumb">
					<li><a href="/welcome">Welcome</a></li>
					<li class="active">Old Players</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<!-- Content Row -->
		<div class="row">
			<!-- Sidebar Column -->
			<div class="col-md-3">
				<div class="list-group">
					<h4 align="center">Manager Area</h4>
					<p align="center"><a href="/welcome" class="list-group-item">Home</a></p>
					<p align="center"><a href="/welcome/chooseteam" class="list-group-item">Choose Team</a></p>
					<p align="center"><a href="/welcome/modifyteam" class="list-group-item">Modify Team</a></p>
					<p align="center"><a href="/welcome/oldplayers" class="list-group-item">Old Players</a></p>
					<p align="center"><a href="/welcome/changePwd" class="list-group-item">Change Password</a></p>
					<p align="center"><a th:href="@{/logout}" class="list-group-item">Log Out</a></p>

				</div>


			</div>
			<!-- Content Column -->
			<div th:if= "${teamStatus == 0}"class="col-md-9">
			
				<h2 align="center">Fantasize the World of Cricket with CFL</h2>
				<div class="jumbotron">
						<p align="center">Play the Cricket fantasy league with your
							team.</p>
						<p align="center">
							You don't have a team it yet ? Let me help to <a
								href="/welcome/chooseteam">get you there.</a>
						</p>
				</div>
				
			</div>
			
			
			<div th:if= "${teamStatus == 1}"  class="col-md-9">
				<div class="jumbotron">
				<p align="center">Your current team score : NA</p>
						<p align="center">Your current team rank : NA</p>

						<p align="center">Your team is still not activated. Please <a href="/welcome">Click Here</a> to get your team activated. </p>
							
					</div>
			</div>
				
				<div th:if= "${teamStatus == 2}" class="col-md-9">
				
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 align="center">[[${teamDetails.teamName}]] - Old Players</h4>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table id="example" cellspacing="0" width="100%" class="table table-hover">
								<thead>
									<tr align="center">
										<th><p align="center">#</p></th>

										<th><p align="center">Player Name</p></th>
										<th><p align="center">Team
											<p></th>
										<th><p align="center">Runs</p></th>
										<th><p align="center">Fours</p></th>
										<th><p align="center">Sixes</p></th>
										<th><p align="center">Wickets</p></th>
										<th><p align="center">Bonus Points</p></th>
										<th><p align="center">Player Team Points</p></th>
									</tr>
								</thead>
								<tbody>
										<tr th:if="${searchResult.inactive == 1}" data-th-each="searchResult : ${teamDetails.teamSelectedPlayers}" align="center">
											
											<td><a th:href="@{${searchResult.playerProfile}}" target="_blank"><img class="img-responsive" th:src="@{${searchResult.playerImage}}" alt=" " align="middle" width="60px" height="60px"></a></td>
											<td data-th-text="${searchResult.name}"></td>
											<td data-th-text="${searchResult.team}"></td>
											<td data-th-text="${searchResult.run}"></td>
											<td data-th-text="${searchResult.fours}"></td>
											<td data-th-text="${searchResult.sixes}"></td>
											<td data-th-text="${searchResult.wicket}"></td>
											<td data-th-text="${searchResult.bonusScore}"></td>
											<td data-th-text="${searchResult.score}"></td>

										</tr>

								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
			</div>
			
		</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->
		<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; CFL <script>document.write(new Date().getFullYear())</script></p>
			</div>
		</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/datatables/jquery-1.12.0.min.js}"></script>
	<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				"deferRender" : true,
				"scrollX" : true			
			});
		});
	</script>

</body>

</html>
